# Dependencies
node_modules/

# Build output
dist/
build/
out/
release/
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Environment
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

.idea/

# TypeScript
*.tsbuildinfo

# Electron
*.asar

# Misc
tmp/
temp/